<?xml version="1.0"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
  <system.web>
    <compilation debug="true" targetFramework="4.5"/>
    <httpRuntime targetFramework="4.5"/>
  </system.web>
  <appSettings>
    <add key="ValidationSettings:UnobtrusiveValidationMode" value="None"/>
  <add key="BAISTServices.MyWebService" value="http://localhost:59224/MyWebService.asmx"/>
  </appSettings>
  <connectionStrings>
    <add name="Students" connectionString="Server=SERVIN8TOR\sqlexpress; Database=ababcock1_BAIS3150_StudentsDemo; Integrated Security=SSPI"/>
    <add name="Northwind" connectionString="Server=SERVIN8TOR\sqlexpress; Database=Northwind; Integrated Security=SSPI"/>
  </connectionStrings>
</configuration>